@{
    ViewData["Title"] = "Home Page";
}
@if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
{
    <main>
        <div class="jumbotron mt-3 chushka-bg-color text-center">
            <h1>Greetings, Administrator - Admin!</h1>
            <hr class="bg-grey" />
            <h3 class="grey">Enjoy your work.</h3>
        </div>
    </main>
}
else if (this.User.Identity.IsAuthenticated)
{
    <main>
        <div class="jumbotron mt-3 chushka-bg-color text-center">
            <h1>Welcome, @User.Identity.Name!</h1>
            <hr class="bg-grey" />
            <h3 class="grey">Eventures wishes you an exiting experience.</h3>
        </div>
    </main>
}
else
{
    <main>
        <div class="jumbotron mt-3 chushka-bg-color">
            <h1>Eventures - The best ticket service in the world.</h1>
            <hr class="bg-white" />
            <h3><a class="nav-link-dark" asp-action="login" asp-controller="account">Login</a> to start eventing.</h3>
            <h3><a class="nav-link-dark" asp-action="register" asp-controller="account">Register</a> if you don't have an account.</h3>
        </div>
    </main>
}
